*{
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('../images/background.png') !important;
    height: 100vh;
    background-size: cover;
}

.logo-container {
    display: flex;
}

.title-container {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.title-container > h3 {
    margin-top: 1rem;
}

.horizontal-line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(162, 219, 236), transparent);
    display: block;
}

.description-container {
    text-align: center;
    margin-top: 2rem;
}

.description-container > h4 {
    font-size: 30px;
}

.form-container {
    margin-top: 2rem;
    padding: 20px;
    background-color: rgba(217,217,217, .05);
    color: white !important;
}

.circle-container {
    display: flex;
    gap: 5px;
}

.circle-container > div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.circle-1 {
    background-color: #3E79EB;
}

.circle-2 {
    background-color: #29BFC9;
}

.circle-3 {
    background-color: #D98562
}

.action {
    margin-top: 2rem;
}

.input-form {
    background-color: #0b1526;
    padding: 10px;
    border: none;
    border: 1px solid rgba(88, 252, 213, .4);
    color: white;
    outline: 0;
    width: 100%;

}

.btn-cadastro {
    padding: 10px;
    background-color: #58fcd5;
    border: none;
    border: 1px solid #58fcd5;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}