{% extends "index.html" %}

{% load static %}

{% block style %}
    <link href="{% static 'website/css/auth.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/new-flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/challenge.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block content %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md">
                <h3 class="fonte-secundaria">Desafio iniciado</h3>
                {% for category in challenge.categoria.all %} 
                    <span class="badge-categoria">{{ category }}</span>
                {% endfor %}
                <br><br><br>
                {% for flashcard in challenge.flashcards.all %}
                <div id="flashcard-container" class="box-new-flashcard {% if flashcard.respondido %}op2{% endif %}">
                    <div class="flashcard {{ flashcard.flashcard.css_difficulty }}">
                        <div class="flashcard-categoria d-flex justify-content-between align-center">
                            {{ flashcard.flashcard.categoria }}
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <span class="badge rounded-pill text-bg-{{flashcard.flashcard.css_difficulty.0}}">{{ flashcard.flashcard.css_difficulty.1 }}</span>
                                {% if flashcard.respondido %}
                                    {% if flashcard.acertou %}
                                        <span class="badge rounded-pill text-bg-success">Acertou</span>
                                    {% else %}
                                        <span class="badge rounded-pill text-bg-danger">Errou</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        <br>
                        
                        <div class="flashcard-box-item d-flex flex-column">
                            <p class="flashcard-item" onclick="toggleAwnserDisplay({{flashcard.id}})">{{flashcard.flashcard.pergunta}}</p>
                        </div>

                        {% if not flashcard.respondido %}
                            <div class="responder">
                                <a href="{% url 'awnser-flashcard' flashcard.id %}?acertou=0&desafio_id={{ challenge.id }}"><i class='bx bxs-x-square icone-vermelho'></i></a>
                                <a href="{% url 'awnser-flashcard' flashcard.id %}?acertou=1&desafio_id={{ challenge.id }}"><i class='bx bxs-check-square icone-verde'></i></a>
                            </div>
                        {% endif %}

                    </div>
                    
                    <div class="resposta-flashcard" id="{{flashcard.id}}">
                        {{flashcard.flashcard.resposta}}
                    </div>
                </div>
                <br>
                <br>
                {% endfor %}

            </div>
            <div class="col-md">

                <h3 class="fonte-secundaria">Resultado</h3>
                <p class="fonte-p">Acertos: {{ acertos }}</p>
                <p class="fonte-p">Erros: {{ erros }}</p>
                <p class="fonte-p">Faltantes: {{ faltantes }}</p>
                <br>
                <a class="btn-cadastro btn-desafio" href="{% url 'challenge-relatory' challenge.id %}">Relatório detalhado</a>
            </div>
        </div>

    </div>
    <script src="{% static 'flashcard/js/main.js' %}"></script>
{% endblock %}