{% extends 'index.html' %}

{% load static %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'flashcard/css/new-flashcard.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/authenticate.css' %}">
{% endblock %}

{% block content %}
    <div class="box-new-flashcard">
        <h1 class="title mt-3 mb-3">Novo Flashcard</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enviar" class="btn-cadastro">
        </form>
    </div>
{% endblock %}
