{% extends "index.html" %}

{% load static %}

{% block style %}
    <link href="{% static 'website/css/authenticate.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/new-flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/start-challenge.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/challenge.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <form action="" method="GET">
                    <label for="">Categoria</label>
                    <select name="category" class="form-select">
                        <option value="" selected></option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="col-md">
                <label for="">Dificuldade</label>
                <select name="difficulty" class="form-select">
                    <option value="" selected></option>
                        {% for dificulty in dificulties %}
                            <option value="{{ dificulty.0 }}">{{ dificulty.1 }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-md">
                <br>
                <input type="submit" value="Filtrar" class="btn-cadastro">
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="box-listar">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Desafio ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Dificuldade</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for challenge in challenges %}
                        <tr class="linha">
                            <th><a href="{% url 'detail-challenge' challenge.id %}">{{challenge.id}}</a></th>
                            <td>{{challenge.titulo}}</td>
                            <td>{{challenge.get_dificuldade_display}}</td>
                            {% if challenge.status %}
                                <td>Concluído</td>
                            {% else %}
                                <td>Pendente</td>
                            {% endif %}
                            <td><a class="btn btn-danger" href="{% url 'del-challenge' challenge.id %}">Excluir</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Nenhum desafio encontrado</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'flashcard/js/utils.js' %}"></script>
{% endblock %}