{% extends "index.html" %}

{% load static %}

{% block style %}
    <link href="{% static 'website/css/authenticate.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/new-flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/start-challenge.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/challenge.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md">
                <p class="fonte-secundaria">{{ challenge.titulo }}</p>
                <hr>
                <canvas id="grafico1"></canvas>
            </div>
            <div class="col-md">
                <br><br><br><br>
                <div style="background-color: white;">
                    <canvas id="grafico2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md">
                <p class="fonte-secundaria">Acertos por categoria</p>
                <hr>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Acertos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria, data in resultados_por_categoria.items %}
                            <tr>
                                <td>{{ categoria }}</td>
                                <td>{{ data.acertos }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md">
                <p class="fonte-secundaria">Erros por categoria</p>
                <hr>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Erros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria, data in resultados_por_categoria.items %}
                            <tr>
                                <td>{{ categoria }}</td>
                                <td>{{ data.erros }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('grafico1');
      
        new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ['Acertos', 'Erros'],
            datasets: [{
              label: 'Quantidade',
              data: [{{ acertos }}, {{ erros }}],
              borderWidth: 1
            }]
          },
          
        });
    </script>

    <script>
        const ctx2 = document.getElementById('grafico2');
      
        new Chart(ctx2, {
          type: 'radar',
          data: {
            labels: {{ categories|safe }},
            datasets: [{
              label: 'Quantidade',
              data: {{ acertos_por_categoria }},
            }]
          },
          
        });

    </script>
{% endblock %}