{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/global.css' %}">
    {% block style %}{% endblock %}
    {% block title %} <title> StudyChallenger | Home Page </title> {% endblock %}
</head>
<body>
    <nav style="background-color: var(--main-color)" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Study.Async</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Flashcard
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'new-flashcard' %}">Criar flashcard</a></li>
                <li><a class="dropdown-item" href="{% url 'new-challenge' %}">Criar desafio</a></li>
                <li><a class="dropdown-item" href="{% url 'list-challenges' %}">Listar desafio</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/apostilas/new-apostila">Apostilas</a>
            </li>
          </ul>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade-show" role="alert">
                <object class="icon" type="image/svg+xml" data="{% static 'images/icons.svg' %}"></object>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% block content %}
        <h1>Página Principal</h1>
        <a class="btn btn-danger" href="{% url 'account_logout' %}">Sair</a>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
